target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture.html
!**/src/main/resources/architecture.proto
.DS_Store
.project
.classpath
.settings/
.factorypath
.mvn/
.idea/
*.iml
*.iws
*.ipr
nbproject/
**/*.log
**/*.temp
.env
.env.local
.env.production
